node_modules/
dist/
.dev.vars
.wrangler/
.env
.env.*
!.env.example
.DS_Store
reference/
# avoid accidentally stepping outside this folder
/*
!/src/
!/worker/
!/tests/
!/package.json
!/bun.lock
!/tsconfig.json
!/vite.config.ts
!/index.html
!/README.md
!/README
!/package-lock.json
!/vite.config.*
!/tsconfig.*
